
/* SEE WHAT STYLES I'M ACTUALLY USING - SEPARATE OUT INTO DIFFERENT FILES IF NEEDED */
body {
  background-color: #E6EBF2;
}

.form {
  margin: 0% 25%;
}

.food-form {
  margin: 0% 19%;
}

.form-add {
  margin: 3.5% 10%;
}

.header {
  text-align: center;
  margin-top: 7.5%;
}

.note {
  text-align: center;
  margin-top: 3.5%;
  margin-bottom: 7.5%;
}

.navbar {
  color: #FFF;
  background-color: #1E5194;
  justify-content: left;
}

.nav-link {
  color: #B8C4D4;
}

.nav-link:hover {
  color: #E6F1FF;
}

.nav-link.active {
  color: #FFF;
}

.btn-primary-fill {
  background-color: #1E5194;
  border-color: #1E5194;
  color: #FFF;
  width: 150px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.btn-home {
  display: inline-block;
  margin: 10px;
}

.auto-width {
  width: auto;
}

.btn-primary-fill:hover {
  background-color: #003C8A;
  border-color: #003C8A;
  color: #FFF;
}

.btn-primary-fill:focus {
  background-color: #003C8A;
  border-color: #003C8A;
  color: #FFF;
}

.btn-primary-fill:active {
  background-color: #003C8A;
  border-color: #003C8A;
  color: #FFF;
}

.btn-primary-outline {
  background-color: #FFF;
  border-color: #1E5194;
  color: #1E5194;
}

.btn-primary-outline:hover {
  background-color: #E6EBF2;
  color: #1E5194;
}

.btn-primary-outline:focus {
  background-color: #E6EBF2;
  color: #1E5194;
}

.btn-primary-outline:active {
  background-color: #E6EBF2;
  color: #1E5194;
}


/* currently not using */
.submit {
  /* padding-left: 25%;
  padding-right: 25%; */
  text-align: center;
}

.dashboard-container {
  margin: 40px;
}

.info-container {
  background-color: #FFF;
  padding: 20px;
  margin: 0px 10px;
  /* border-radius: 15px; */
}

.header-container {
  margin-bottom: 15px;
}

.dashboard-module {
  margin-bottom: 20px;
}


hr.solid-thin {
  border-top: 1.75px solid #cfd9e8;
  margin: 25px 0px;
}

hr.solid-thick {
  margin: 25px 0px;
  border-top: 3.5px solid #cfd9e8;
}

td hr.solid-thin {
  margin: 2px;
}

td hr.solid-thick {
  margin: 2px;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.no-background {
  background-color: #FFF;
  border: none;
}

.positive {
  color: #1d9902;
}

.negative {
  color: #E01212;
}

.calorie-table {
  width: 400px;
}

.calorie-table-cell {
  width: 100px;
}

.datepicker-container {
  margin: 25px 0 -15px 20px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-datepicker__input-container input {
  /* display: block; */
  width: 100%;
  height: calc(1.5em + 0.75rem - 12px);
  /* font-size: 1rem; */
  /* font-weight: 400; */
  /* line-height: 1.5; */
  color: #495057;
  /* background-color: #fff; */
  /* background-clip: padding-box; */
  border: 1px solid #FFFFFF00;
  /* border-radius: 0.25rem; */
  /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

.table-font-small {
  font-size: 14px;
}

.table-font-extra-small {
  font-size: 10px
}

.nutrition-container {
  background-color: #E6EBF2;
  padding: 15px;
}

.nutrition-card {
  background-color: #FFF;
  padding: 0px 15px;
}

td.indent {
  padding-left: 25px
}

td.indent-double {
  padding-left: 50px
}

.table th, .table td {
  border-color: #DADFE6;
}

.table-hover tr:hover td {
  background-color: #E6EBF2;
}

.input-sm {
  max-width: 75px;
  padding-left: 0;
  margin-right: -15px;
}

label.label-fixed {
  min-width: 100px;
}

.btn-padding {
  margin-left: 15px;
  margin-right: 15px;
}

.footer {
  font-size: 80%;
  color: #6C757D;
}

.bottom-margin {
  margin-bottom: 15px;
}

#macros-chart {
  margin: 20px 0px;
}

#profile-icon {
  margin: 20px 0px;
}

.meal-macros-col-sm {
  width: 25%;
  justify-content: center;
  text-align: center;
}

.meal-macros-chart {
  margin: 10px 0px;
}

.meal-labels {
  font-weight: bold;

}

.meal-labels-calories {
  font-size: 90%;
  font-style: italic;
}

.profile-table {
  width: 100%;
}

.macros-table {
  font-size: 14px;
  width: 100%;
  padding: 20px;
}

.macros-table thead th {
  border-bottom: 2px solid #DADFE6;
  height: 35px;
}

.macros-table td {
  border-top: 1px solid #DADFE6;
  height: 35px;
}

.update-food-card {
  background-color: #FFF;
  margin: 30px 25%;
  padding: 30px;
}

.table {
  margin-bottom: 0px;
}

.welcome-container {
  width: 50%;
  min-width: 240px;
  position: fixed;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border-radius: 15px;
}

.nutrients-table {
  table-layout: fixed;
}

.attribution-footer {
  position: relative;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.home-footer {
  position: absolute;
  bottom: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;

}

.icon-container {
  width: 100%;
  max-width: 300px;
  padding: 30px 0px;
  margin: auto;
  text-align: center
}

.dashboard-icon-container {
  width: 100%;
  padding: 20px 5px 40px 5px;
  margin: auto;
  text-align: center
}

.exercise-table thead th {
  border-top: 0px;
}
