/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.active {
  color: #2d9d92
} */

body {
  background-color: #E6EBF2;
}

.form {
  margin: 3.5% 25%;
}

.header {
  text-align: center;
  margin-top: 7.5%;
}

.note {
  text-align: center;
  margin-bottom: 7.5%
}

.navbar {
  color: #FFF;
  background-color: #1E5194;
  justify-content: left;
}

.nav-link {
  color: #B8C4D4;
}

.nav-link:hover {
  color: #E6F1FF;
}

.nav-link.active {
  color: #FFF;
}

.btn-primary-fill {
  background-color: #1E5194;
  border-color: #1E5194;
  color: #FFF;
  width: 150px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.btn-primary-fill:hover {
  background-color: #003C8A;
  border-color: #003C8A;
  color: #FFF;
}

.btn-primary-fill:focus {
  background-color: #003C8A;
  border-color: #003C8A;
  color: #FFF;
}

.btn-primary-fill:active {
  background-color: #003C8A;
  border-color: #003C8A;
  color: #FFF;
}

.btn-primary-outline {
  background-color: #FFF;
  border-color: #1E5194;
  color: #1E5194;
}

.btn-primary-outline:hover {
  background-color: #E6EBF2;
  color: #1E5194;
}

.btn-primary-outline:focus {
  background-color: #E6EBF2;
  color: #1E5194;
}

.btn-primary-outline:active {
  background-color: #E6EBF2;
  color: #1E5194;
}


/* currently not using */
.submit {
  /* padding-left: 25%;
  padding-right: 25%; */
  text-align: center;
}

.dashboard-container {
  margin: 30px;
}

.info-container {
  background-color: #FFF;
  padding: 20px;
  margin: 15px;
  border-radius: 15px;
}


hr.solid-thin {
  border-top: 1.75px solid #cfd9e8;
  margin: 25px 0px;
}

hr.solid-thick {
  margin: 25px 0px;
  border-top: 3.5px solid #cfd9e8;
}

.right-align {
  text-align: right;
}

.no-background {
  background-color: #FFF;
  border: none;
}

.positive {
  color: #1d9902;
}

.negative {
  color: #E01212;
}

.calorie-table {
  width: 400px;
}

.calorie-table-cell {
  width: 100px;
}
